.btn{
  display: flex;
  height: 40px;
  padding: 10.5px 153px;
  gap: 10px;
  border-radius: 52px;
  border: 0;
  animation: colorChange 15s infinite;
  color: white;
  font-style: bold;
}

@keyframes colorChange {
  0% {
    background-color: rgba(19, 150, 194, 0.9)
  }
  25% {
    background-color: rgba(30, 120, 210, 0.9) 
  }
  50%{
    background-color: rgba(18, 160, 94, 0.9) 
  }
  75%{
    background-color: rgba(43, 218, 151, 0.9) 
  }
  100% {
    background-color: rgba(19, 150, 194, 0.9);
  }
}

.btn:hover{
  cursor: pointer;
  animation-play-state: paused;
}

