.btn{
  display: flex;
  padding: 16px 153px;
  justify-content: center;
  align-items: center;
  color: #000;
  gap: 10px;
  border-radius: 6px;
  background: #FFF;
  transition: .5s;
}

.btn:hover{
  background: #bab8b8;
}